In [1]:
import pandas as pd
import numpy as np

In [2]:
# number of documents in the dataset
gold = pd.read_csv("../../data/TempEval3-data/TE3-Gold_sentences.csv", skip_blank_lines=True)
goldDocs = gold['Doc Id'].value_counts()
print("#docs in TempEval-3 Gold dataset: ", len(goldDocs))

# number of documents in the dataset
platinum = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_sentences.csv", skip_blank_lines=True)
platinumDocs = platinum['Doc Id'].value_counts()
print("#docs in TempEval-3 Platinum dataset: ", len(platinumDocs))

#docs in TempEval-3 Gold dataset:  256
#docs in TempEval-3 Platinum dataset:  20

In [3]:
# number of sentences in the dataset
gold = pd.read_csv("../../data/TempEval3-data/TE3-Gold_sentences.csv", skip_blank_lines=True)
print("#sent in TempEval-3 Gold dataset: ", len(gold))

# number of sentences in the dataset
platinum = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_sentences.csv", skip_blank_lines=True)
print("#sent in TempEval-3 Platinum dataset: ", len(platinum))

#sent in TempEval-3 Gold dataset:  3953
#sent in TempEval-3 Platinum dataset:  273

In [4]:
# number of tokens in the dataset
gold = pd.read_csv("../../data/TempEval3-data/TE3-Gold_tokens.csv", skip_blank_lines=True)
print("#tokens in TempEval-3 Gold dataset: ", len(gold))

# number of tokens in the dataset
platinum = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_tokens.csv", skip_blank_lines=True)
print("#tokens in TempEval-3 Platinum dataset: ", len(platinum))

#tokens in TempEval-3 Gold dataset:  99368
#tokens in TempEval-3 Platinum dataset:  7008

In [6]:
# number of events in the dataset
goldevents = pd.read_csv("../../data/TempEval3-data/TE3-Gold_events.csv", skip_blank_lines=True)
print("#events in TempEval-3 Gold dataset: ", len(goldevents))

# number of events in the dataset
platinumevents = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_events.csv", skip_blank_lines=True)
print("#events in TempEval-3 Platinum dataset: ", len(platinumevents))

#events in TempEval-3 Gold dataset:  11129
#events in TempEval-3 Platinum dataset:  746

In [8]:
# number of time expressions in the dataset
goldtime = pd.read_csv("../../data/TempEval3-data/TE3-Gold_time.csv", skip_blank_lines=True)
print("#time expressions in TempEval-3 Gold dataset: ", len(goldtime))

# number of time expressions in the dataset
platinumtime = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_time.csv", skip_blank_lines=True)
print("#time expressions in TempEval-3 Platinum: ", len(platinumtime))

#time expressions in TempEval-3 Gold dataset:  1822
#time expressions in TempEval-3 Platinum:  138

In [9]:
annotatedSentencesGold = goldevents.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# annotated sentences with events in the TempEval-3 Gold dataset: ", len(annotatedSentencesGold))
print("average number of events per sentences in the TempEval-3 Gold dataset: ", float(len(goldevents)) / float(len(annotatedSentencesGold)))

annotatedSentencesPlatinum = platinumevents.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# annotated sentences with events in the TempEval-3 Platinum dataset: ", len(annotatedSentencesPlatinum))
print("average number of events per sentences in the TempEval-3 Platinum dataset: ", float(len(platinumevents)) / float(len(annotatedSentencesPlatinum)))

# annotated sentences with events in the TempEval-3 Gold dataset:  3604
average number of events per sentences in the TempEval-3 Gold dataset:  3.0879578246392896
# annotated sentences with events in the TempEval-3 Platinum dataset:  243
average number of events per sentences in the TempEval-3 Platinum dataset:  3.0699588477366255

In [10]:
# number of annotated sentences with time expressions and average number of time expressions per sentence
annotatedSentencesGold = goldtime.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# annotated sentences with time expressions in the TempEval-3 Gold dataset: ", len(annotatedSentencesGold))
print("average number of time expressions per sentences in the TempEval-3 Gold dataset: ", float(len(goldtime)) / float(len(annotatedSentencesGold)))

annotatedSentencesPlatinum = platinumtime.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# annotated sentences with time expressions in the TempEval-3 Platinum dataset: ",len(annotatedSentencesPlatinum))
print("average number of time expressions per sentences in the TempEval-3 Platinum dataset: ", float(len(platinumtime)) / float(len(annotatedSentencesPlatinum)))

# annotated sentences with time expressions in the TempEval-3 Gold dataset:  1464
average number of time expressions per sentences in the TempEval-3 Gold dataset:  1.244535519125683
# annotated sentences with time expressions in the TempEval-3 Platinum dataset:  106
average number of time expressions per sentences in the TempEval-3 Platinum dataset:  1.3018867924528301

In [11]:
# number of sentences not annotated with events 
goldsent = pd.read_csv("../../data/TempEval3-data/TE3-Gold_sentences.csv", skip_blank_lines=True)
platinumsent = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_sentences.csv", skip_blank_lines=True)

annotatedSentencesGold = goldevents.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# sentences not annotated with events in the TempEval-3 Gold dataset: ", len(goldsent) - len(annotatedSentencesGold))

annotatedSentencesPlatinum = platinumevents.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# sentences not annotated with events in the TempEval-3 Gold dataset: ", len(platinumsent) - len(annotatedSentencesPlatinum))

# sentences not annotated with events in the TempEval-3 Gold dataset:  349
# sentences not annotated with events in the TempEval-3 Gold dataset:  30

In [12]:
# number of sentences not annotated with time expressions 
goldsent = pd.read_csv("../../data/TempEval3-data/TE3-Gold_sentences.csv", skip_blank_lines=True)
platinumsent = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_sentences.csv", skip_blank_lines=True)

annotatedSentencesGold = goldtime.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# sentences not annotated with time expressions in the TempEval-3 Gold dataset: ", len(goldsent) - len(annotatedSentencesGold))

annotatedSentencesPlatinum = platinumtime.groupby(["Doc Id", "Sentence Id"]).size().reset_index(name="Count")
print("# sentences not annotated with time expressions in the TempEval-3 Gold dataset: ", len(platinumsent) - len(annotatedSentencesPlatinum))

# sentences not annotated with time expressions in the TempEval-3 Gold dataset:  2489
# sentences not annotated with time expressions in the TempEval-3 Gold dataset:  167

In [13]:
# distribution of POS Tags for the annotated events
goldPOSTagsHisto = pd.DataFrame(goldevents['Pos'].value_counts().reset_index())
goldPOSTagsHisto.columns = ['POS Tag', 'Count']
print("POS tags distribution for the annotated events in TempEval-3 Gold dataset")
print(goldPOSTagsHisto)
print("\n")

platinumPOSTagsHisto = pd.DataFrame(platinumevents['Pos'].value_counts().reset_index())
platinumPOSTagsHisto.columns = ['POS Tag', 'Count']
print("POS tags distribution for the annotated events in TempEval-3 Platinum dataset")
print(platinumPOSTagsHisto)

POS tags distribution for the annotated events in TempEval-3 Gold dataset
  POS Tag  Count
0      VB   8535
1      NN   2391
2      JJ    173
3      IN     17
4      RB     12
5      MD      1


POS tags distribution for the annotated events in TempEval-3 Platinum dataset
  POS Tag  Count
0      VB    546
1      NN    173
2      JJ     21
3   CD CD      2
4      CD      2
5      RB      1
6    $ CD      1

In [14]:
# distribution of POS Tags for the annotated time expressions
goldPOSTagsHisto = pd.DataFrame(goldtime['Pos'].value_counts().reset_index())
goldPOSTagsHisto.columns = ['POS Tag', 'Count']
print("POS tags distribution for the annotated time expressions in TempEval-3 Gold dataset")
print(goldPOSTagsHisto)
print("\n")

platinumPOSTagsHisto = pd.DataFrame(platinumtime['Pos'].value_counts().reset_index())
platinumPOSTagsHisto.columns = ['POS Tag', 'Count']
print("POS tags distribution for the annotated time expressions in TempEval-3 Platinum dataset")
print(platinumPOSTagsHisto)

POS tags distribution for the annotated time expressions in TempEval-3 Gold dataset
               POS Tag  Count
0                   NN    501
1                JJ NN    175
2                NN CD    161
3                DT NN    146
4                   JJ    121
5                   CD    114
6                   RB     98
7             DT JJ NN     88
8                CD NN     59
9             DT NN RB     53
10         DT JJ CD NN     38
11               NN NN     35
12          NN CD , CD     26
13            RB DT NN     19
14            DT CD NN     17
15         DT JJ JJ NN     14
16            CD NN RB     12
17               JJ CD      7
18            RB JJ NN      6
19               CD CD      5
20            RB CD NN      4
21          NN , NN CD      4
22               VB NN      4
23         DT NN IN NN      4
24         RB CD NN RB      4
25            JJ CD NN      4
26      DT JJ NN IN CD      4
27            IN DT NN      3
28            CD NN NN      3
29      DT NN IN DT NN      3
..                 ...    ...
79            NN CC NN      1
80      DT JJ NN CC RB      1
81             JJ NN 0      1
82   DT JJ NN IN DT NN      1
83      DT JJ NN JJ NN      1
84           NN POS NN      1
85         RB DT CD NN      1
86            IN CD NN      1
87         CD NN NN NN      1
88            NN DT NN      1
89      DT JJ IN CD NN      1
90         IN CD NN RB      1
91            NN CD CD      1
92      DT JJ NN IN NN      1
93      DT NN CC DT NN      1
94             NN CD 0      1
95            CD CC RB      1
96      IN JJ CD JJ NN      1
97            CD NN IN      1
98            JJ JJ NN      1
99             DT NN ,      1
100              RB JJ      1
101        NN IN JJ NN      1
102  IN JJ DT JJ CD NN      1
103        RB RB IN JJ      1
104     DT NN DT NN RB      1
105     DT NN CC RB RB      1
106           DT JJ CD      1
107           IN NN CD      1
108        DT RB JJ NN      1

[109 rows x 2 columns]


POS tags distribution for the annotated time expressions in TempEval-3 Platinum dataset
        POS Tag  Count
0            CD     27
1            NN     25
2         DT NN     18
3         JJ NN     18
4            RB     11
5         CD NN      8
6         NN CD      4
7         NN NN      3
8      DT JJ NN      3
9      CD NN RB      3
10           JJ      3
11     DT CD NN      2
12  DT JJ JJ NN      2
13  DT JJ CD NN      2
14    CD NN POS      1
15     IN DT NN      1
16     RB DT NN      1
17     DT VB NN      1
18     CD NN NN      1
19     RB JJ NN      1
20  DT NN IN NN      1
21     RB CD NN      1
22        JJ CD      1

In [23]:
# average number of times an event (as a combination of token and POS tag) is annotated in the dataset 
goldUniqueToken = goldevents.groupby(["Lowercase Token", "Pos"]).size().reset_index(name="Count")
goldUniqueToken.columns = ['Lowercase Token', 'POS Tag', 'Count']
print("avg number of times an event token is annotated in the TempEval-3 Gold dataset: ", goldUniqueToken["Count"].mean())
print("unique number of event tokens annotated in the TempEval-3 Gold dataset: ", len(goldUniqueToken))

goldUniqueLemma = goldevents.groupby(["Lowercase Lemma Stanford", "Pos"]).size().reset_index(name="Count")
goldUniqueLemma.columns = ['Lowercase Lemma Stanford', 'POS Tag', 'Count']
print("avg number of times an event lemma is annotated in the TempEval-3 Gold dataset: ", goldUniqueLemma["Count"].mean())
print("unique number of event lemmas annotated in the TempEval-3 Gold dataset: ", len(goldUniqueLemma))

platinumUniqueToken = platinumevents.groupby(["Lowercase Token", "Pos"]).size().reset_index(name="Count")
platinumUniqueToken.columns = ['Lowercase Token', 'POS Tag', 'Count']
print("avg number of times an event token is annotated in the TempEval-3 Platinum dataset: ", platinumUniqueToken["Count"].mean())
print("unique number of event tokens annotated in the TempEval-3 Platinum dataset: ", len(platinumUniqueToken))

platinumUniqueLemma = platinumevents.groupby(["Lowercase Lemma Stanford", "Pos"]).size().reset_index(name="Count")
platinumUniqueLemma.columns = ['Lowercase Lemma Stanford', 'POS Tag', 'Count']
print("avg number of times an event lemma is annotated in the TempEval-3 Platinum dataset: ", platinumUniqueLemma["Count"].mean())
print("unique number of event lemmas annotated in the TempEval-3 Platinum dataset: ", len(platinumUniqueLemma))

avg number of times an event token is annotated in the TempEval-3 Gold dataset:  3.860215053763441
unique number of event tokens annotated in the TempEval-3 Gold dataset:  2883
avg number of times an event lemma is annotated in the TempEval-3 Gold dataset:  5.948156066274719
unique number of event lemmas annotated in the TempEval-3 Gold dataset:  1871
avg number of times an event token is annotated in the TempEval-3 Platinum dataset:  1.3891992551210428
unique number of event tokens annotated in the TempEval-3 Platinum dataset:  537
avg number of times an event lemma is annotated in the TempEval-3 Platinum dataset:  1.6954545454545455
unique number of event lemmas annotated in the TempEval-3 Platinum dataset:  440

In [27]:
goldUniqueToken.sort_values(['Count'])

      Lowercase Token POS Tag  Count
0                  `s      VB      1
1656          officer      NN      1
1654        offerings      NN      1
1647         offended      VB      1
1646              off      RB      1
1644            occur      VB      1
1643         occupies      VB      1
1641         occasion      NN      1
1640        obtaining      VB      1
1637         observes      VB      1
1636         observed      VB      1
1630        notifying      VB      1
1629         notified      VB      1
1659             open      JJ      1
1626             note      VB      1
1624           nipped      VB      1
1622              net      NN      1
1619      negotiating      NN      1
1614  nationalization      NN      1
1613        narrowing      VB      1
1612         narrowed      VB      1
1610             name      VB      1
1609          murders      NN      1
1600          mounted      VB      1
1599            mount      VB      1
1598         mortgage      VB      1
1597       monitoring      VB      1
1625       nose-dived      VB      1
1596        monitored      VB      1
1664          operate      VB      1
...               ...     ...    ...
86             agreed      VB     34
342               buy      VB     34
2571             take      VB     34
298           bombing      NN     34
2253           saying      VB     34
1214             have      VB     35
246            become      VB     37
1127            found      VB     38
1165               go      VB     38
354            called      VB     40
2178           return      NN     40
1521             made      VB     40
1510             loss      NN     41
1405             keep      VB     41
459            closed      VB     42
1188              had      VB     43
116         announced      VB     43
1050             fell      VB     43
1211              has      VB     45
658          decision      NN     45
299          bombings      NN     46
1649            offer      NN     46
2105         reported      VB     48
2625             told      VB     48
988          expected      VB     49
2221             rose      VB     50
1413           killed      VB     59
2252              say      VB     61
2254             says      VB     66
2239             said      VB    993

[2883 rows x 3 columns]

In [28]:
goldUniqueLemma.sort_values(['Count'])

     Lowercase Lemma Stanford POS Tag  Count
592                     empty      VB      1
718               fluctuation      NN      1
719                    flurry      NN      1
720                     flush      JJ      1
1584                spotlight      VB      1
722                     focus      VB      1
1582                  sponsor      VB      1
724                       for      IN      1
725                     foray      NN      1
726                    forbid      VB      1
730                  forecast      VB      1
732                 forestall      VB      1
734                   forgive      VB      1
717                 fluctuate      VB      1
1579                  spinoff      NN      1
737                     found      JJ      1
741                      free      VB      1
742                    freeze      VB      1
743                  frighten      VB      1
744                     frown      VB      1
745               frustrating      JJ      1
1233                  project      VB      1
747                   fulfill      VB      1
1395                     rest      VB      1
749                   further      RB      1
1577                 spilling      NN      1
752                      game      NN      1
736                 formalize      VB      1
1586                     spur      VB      1
714                  flourish      VB      1
...                       ...     ...    ...
1144                      pay      VB     50
816                      hold      VB     52
926                      keep      VB     52
758                      give      VB     53
699                      find      VB     53
1790                      use      VB     54
157                     begin      VB     55
296                      come      VB     55
1475                     seek      VB     56
990                      loss      NN     57
680                      fall      VB     57
1412                   return      VB     57
1474                      see      VB     59
1683                     tell      VB     59
354                  continue      VB     59
154                    become      VB     59
287                     close      VB     60
1435                     rise      VB     62
222                      call      VB     63
1370                   report      VB     64
1820                     want      VB     64
930                      kill      VB     71
763                        go      VB     76
187                   bombing      NN     80
1003                     make      VB     86
1673                     take      VB     88
654                    expect      VB     94
151                        be      VB    105
795                      have      VB    123
1459                      say      VB   1154

[1871 rows x 3 columns]

In [16]:
# average number of times a time expression (as a combination of token and POS tag) is annotated in the dataset 
goldUniqueToken = goldtime.groupby(["Lowercase Token", "Pos"]).size().reset_index(name="Count")
goldUniqueToken.columns = ['Lowercase Token', 'POS Tag', 'Count']
print("avg number of times a time expression token is annotated in the TempEval-3 Gold dataset: ", goldUniqueToken["Count"].mean())
print("unique number of time expression tokens annotated in the TempEval-3 Gold dataset: ", len(goldUniqueToken))

goldUniqueLemma = goldtime.groupby(["Lowercase Lemma Stanford", "Pos"]).size().reset_index(name="Count")
goldUniqueLemma.columns = ['Lowercase Lemma Stanford', 'POS Tag', 'Count']
print("avg number of times a time expression lemma is annotated in the TempEval-3 Gold dataset: ", goldUniqueLemma["Count"].mean())
print("unique number of time expression lemmas annotated in the TempEval-3 Gold dataset: ", len(goldUniqueLemma))

platinumUniqueToken = platinumtime.groupby(["Lowercase Token", "Pos"]).size().reset_index(name="Count")
platinumUniqueToken.columns = ['Lowercase Token', 'POS Tag', 'Count']
print("avg number of times a time expression token is annotated in the TempEval-3 Platinum dataset: ", platinumUniqueToken["Count"].mean())
print("unique number of time expression tokens annotated in the TempEval-3 Platinum dataset: ", len(platinumUniqueToken))

platinumUniqueLemma = platinumtime.groupby(["Lowercase Lemma Stanford", "Pos"]).size().reset_index(name="Count")
platinumUniqueLemma.columns = ['Lowercase Lemma Stanford', 'POS Tag', 'Count']
print("avg number of times a time expression lemma is annotated in the TempEval-3 Platinum dataset: ", platinumUniqueLemma["Count"].mean())
print("unique number of time expression lemmas annotated in the TempEval-3 Platinum dataset: ", len(platinumUniqueLemma))

avg number of times a time expression token is annotated in the TempEval-3 Gold dataset:  2.892063492063492
unique number of time expression tokens annotated in the TempEval-3 Gold dataset:  630
avg number of times a time expression lemma is annotated in the TempEval-3 Gold dataset:  2.9245585874799356
unique number of time expression lemmas annotated in the TempEval-3 Gold dataset:  623
avg number of times a time expression token is annotated in the TempEval-3 Platinum dataset:  1.4680851063829787
unique number of time expression tokens annotated in the TempEval-3 Platinum dataset:  94
avg number of times a time expression lemma is annotated in the TempEval-3 Platinum dataset:  1.4680851063829787
unique number of time expression lemmas annotated in the TempEval-3 Platinum dataset:  94

In [17]:
# sentences without events
gold = pd.read_csv("../../data/TempEval3-data/TE3-Gold_sentences.csv", skip_blank_lines=True)
goldNE = gold[gold["#Events"] == 0]

platinum = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_sentences.csv", skip_blank_lines=True)
platinumNE = platinum[platinum["#Events"] == 0]

In [18]:
print("min #tokens in sentences without events in TempEval-3 Gold: ", goldNE['#Tokens'].min())
print("max #tokens in sentences without events in TempEval-3 Gold: ", goldNE['#Tokens'].max())
print("mean #tokens in sentences without events in TempEval-3 Gold: ", goldNE['#Tokens'].mean())

print("min #tokens in sentences without events in TempEval-3 Platinum: ", platinumNE['#Tokens'].min())
print("max #tokens in sentences without events in TempEval-3 Platinum: ", platinumNE['#Tokens'].max())
print("mean #tokens in sentences without events in TempEval-3 Platinum: ", platinumNE['#Tokens'].mean())

min #tokens in sentences without events in TempEval-3 Gold:  2
max #tokens in sentences without events in TempEval-3 Gold:  63
mean #tokens in sentences without events in TempEval-3 Gold:  16.31518624641834
min #tokens in sentences without events in TempEval-3 Platinum:  5
max #tokens in sentences without events in TempEval-3 Platinum:  39
mean #tokens in sentences without events in TempEval-3 Platinum:  17.833333333333332

In [19]:
# sentences without time expressions
gold = pd.read_csv("../../data/TempEval3-data/TE3-Gold_sentences.csv", skip_blank_lines=True)
goldNE = gold[gold["#Time Expressions"] == 0]

platinum = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_sentences.csv", skip_blank_lines=True)
platinumNE = platinum[platinum["#Time Expressions"] == 0]

In [20]:
print("min #tokens in sentences without time expressions in TempEval-3 Gold: ", goldNE['#Tokens'].min())
print("max #tokens in sentences without time expressions in TempEval-3 Gold: ", goldNE['#Tokens'].max())
print("mean #tokens in sentences without time expressions in TempEval-3 Gold: ", goldNE['#Tokens'].mean())

print("min #tokens in sentences without time expressions in TempEval-3 Platinum: ", platinumNE['#Tokens'].min())
print("max #tokens in sentences without time expressions in TempEval-3 Platinum: ", platinumNE['#Tokens'].max())
print("mean #tokens in sentences without time expressions in TempEval-3 Platinum: ", platinumNE['#Tokens'].mean())

min #tokens in sentences without time expressions in TempEval-3 Gold:  2
max #tokens in sentences without time expressions in TempEval-3 Gold:  78
mean #tokens in sentences without time expressions in TempEval-3 Gold:  22.971474487746082
min #tokens in sentences without time expressions in TempEval-3 Platinum:  5
max #tokens in sentences without time expressions in TempEval-3 Platinum:  64
mean #tokens in sentences without time expressions in TempEval-3 Platinum:  23.634730538922156

In [21]:
# number of tokens in the dataset
gold = pd.read_csv("../../data/TempEval3-data/TE3-Gold_tokens.csv", skip_blank_lines=True)
goldTMLPOSTagsHisto = pd.DataFrame(gold['POS Tag'].value_counts().reset_index())
goldTMLPOSTagsHisto.columns = ['POS Tag', 'Count']
print(goldTMLPOSTagsHisto)

platinum = pd.read_csv("../../data/TempEval3-data/TE3-Platinum_tokens.csv", skip_blank_lines=True)
platinumTMLPOSTagsHisto = pd.DataFrame(platinum['POS Tag'].value_counts().reset_index())
platinumTMLPOSTagsHisto.columns = ['POS Tag', 'Count']
print(platinumTMLPOSTagsHisto)

   POS Tag  Count
0       NN  30279
1       VB  13643
2       IN  10706
3       DT   8842
4       JJ   6243
5        ,   4969
6        0   3952
7       CD   3653
8       RB   2954
9      PRP   2903
10      TO   2506
11      CC   2449
12      ``   1378
13     POS   1100
14      MD    985
15     WDT    969
16       $    837
17       :    243
18      RP    242
19   -RRB-    154
20   -LRB-    154
21      EX     89
22      UH     30
23     PDT     27
24      FW     25
25       #     23
26     SYM      6
   POS Tag  Count
0       NN   2005
1       VB   1003
2       IN    802
3       DT    644
4       JJ    508
5        ,    327
6        0    298
7      PRP    270
8       RB    237
9       CC    181
10      TO    160
11      CD    143
12      ``    101
13     WDT     95
14      MD     93
15     POS     53
16      RP     19
17       :     17
18      EX     15
19       $     12
20   -RRB-     10
21   -LRB-     10
22     PDT      2
23       `      1
24      FW      1